

.tiptap {
	> * + * {
		margin-top: 0.75em;
		font-size: 16px;
		font-family: Urbanist;
        border-radius: 8px;
        text-align: left;
	}


    p {
        padding: 0 0.25rem;
    }

    h1, h2, h3, h4, h5, h6 {
        padding: 0 1rem;
    }

	ul {
        list-style-type: disc;
        list-style-position: inside;
        padding: 0 1rem;
    }

	ol {
		padding: 0 1rem;
list-style: decimal;
        width: 100%;
        list-style-position: inside;
	}

    ol > li > p {
        display: inline;
        margin: 0;
        padding: 0;
        text-align: inherit !important;
        text-align-last: inherit !important;
        width: 100%

    }

    ul > li > p {
        display: inline;
        margin: 0;
        padding: 0;
        text-align: inherit !important;
        text-align-last: inherit !important;
        width: 100%

    }
    ol > li {
        margin-left: auto;
    }

    ol > li::marker {
        display: block !important;
        position: absolute !important;

        }



	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 24px;
	}
	h4 {
		font-size: 22px;
	}
	h5 {
		font-size: 20px;
	}
	h6 {
		font-size: 18px;
	}

	code {
		background-color: rgba(#616161, 0.1);
		color: #616161;
	}

	pre {
		background: #0d0d0d;
		color: #fff;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;
        min-height: 300px;
		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: 0.8rem;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 2px solid rgba(#0d0d0d, 0.1);
	}

	hr {
		border: none;
		border-top: 2px solid rgba(#0d0d0d, 0.1);
		margin: 2rem 0;
	}

	.editorButton {
		margin: 0.5rem;;
		width: fit-content;
		padding: 0.25rem 0.5rem;
		border-radius: 0.5rem;
		border: solid #616161 1px;
		background: #f6f6f6b3;
		color: #000000;
        min-width: 35.4px;
		max-height: 36.6px;
		font-family: Urbanist;
		cursor: pointer;
		transition: background 0.2s;

		/* &:hover {
			background: #1a1a1a;
			color: #ffffff;
		} */
	}

	.editorButton.isActive {
		background: #1a1a1a;
		color: #ffffff;
	}

	.editor-image {
		max-height: 494px;
	}

	.editor-link {
		color: #2FC4B2;
		text-decoration: underline !important;
	}

}
