.middle-back{
    background-image: url('../../assets/png/Rectangle\ 10.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
    .middle-back{
        height: 354px;
    }
}

@media screen and (max-width: 768px) {
    .middle-back{
        height:  274px;
    }
}